<div id="recipe-details">
  <h3>Edit recipe Details</h3>
    <a class="extra-space" href="#/recipe/{{ctrl.recipe.key}}/view">
    <input type="button" ng-click="ctrl.save()" value="Save edits"></a>
    <a class="extra-space" href="#/recipe/{{ctrl.recipe.key}}/view">
    <input type="button" ng-click="ctrl.cancel()" value="Cacel edits"></a>
  <div ng-if="ctrl.recipe != null">
    <div><strong>Name: </strong> <input type="text" ng-model="ctrl.recipe.name"></div>
    <div><strong>Category: </strong>  <select ng-model="ctrl.recipe.category">
            <option ng-repeat="c in ctrl.categories" value="{{c}}">{{c}}</option></select> </div>
    <div>
      <strong>Ingredients:</strong>
      <ul>
        <li ng-repeat="ingredient in ctrl.recipe.ingredients">
          {{ingredient}}
        </li>
      </ul>

    </div>
    <div>
      <strong>Directions:</strong>
      <textarea ng-model="ctrl.recipe.directions"></textarea>
    </div>
  </div>
</div>

